*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #FFFFFF; 
}
nav{
  width: 1600ox;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a{
  font-size: 16;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.btn{
  border: none;
  border-radius: 4px;
  background-color:#469165 ;
  color: #FFFFFF;
  font-size: 16;
  font-weight: 600;
  padding: 13px 16px;
}